@layout("Arbitrage", "arbitrage") {
    <script src="@routes.Assets.at("javascripts/arbitrage.js")"></script>
    <table class="table table-hover" ng-controller="ArbitrageController">
        <thead>
            <tr>
                <td rowspan="3">Date</td>
                <td colspan="6">Account 1</td>
                <td colspan="6">Account 2</td>
                <td rowspan="3">Spread</td>
            </tr>
            <tr>
                <td rowspan="2">Exchange</td>
                <td rowspan="2">Currency</td>
                <td colspan="2">Bid</td>
                <td colspan="2">Ask</td>
                <td rowspan="2">Exchange</td>
                <td rowspan="2">Currency</td>
                <td colspan="2">Bid</td>
                <td colspan="2">Ask</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
            </tr>
        </thead>
        <tr ng-repeat="marketSpread in marketSpreads">
            <td>{{marketSpread.created}}</td>
            <td>{{marketSpread.market1.exchange}}</td>
            <td>{{marketSpread.market1.primaryCurrency}}/{{marketSpread.market1.secondaryCurrency}}</td>
            <td>{{marketSpread.market1.bidPrice}}</td>
            <td>{{marketSpread.market1.bidAmount}}</td>
            <td>{{marketSpread.market1.askPrice}}</td>
            <td>{{marketSpread.market1.askAmount}}</td>
            <td>{{marketSpread.market2.exchange}}</td>
            <td>{{marketSpread.market2.primaryCurrency}}/{{marketSpread.market2.secondaryCurrency}}</td>
            <td>{{marketSpread.market2.bidPrice}}</td>
            <td>{{marketSpread.market2.bidAmount}}</td>
            <td>{{marketSpread.market2.askPrice}}</td>
            <td>{{marketSpread.market2.askAmount}}</td>
            <td>{{marketSpread.spread}}</td>
        </tr>
    </table>
}