@(spreads: List[MarketSpread], exchanges: List[String], pairs: List[CurrencyPair])(implicit content: Html = Html(""))
@layout("Spreads", "spreads") {
    <script src="@routes.Assets.at("javascripts/spreads.js")"></script>
    <table class="table table-hover" ng-controller="SpreadsController">
        <thead>
            <tr>
                <td></td>
                @exchanges.map { exchange =>
                    <td>@exchange</td>
                }
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pair in currencyPairs">
                <td>{{pair.primaryCurrency}} / {{pair.secondaryCurrency}}</td>
                @exchanges.map { exchange =>
                    <td>{{marketSpreads["@exchange"][pair.primaryCurrency][pair.secondaryCurrency] | number: 8}}</td>
                }
            </tr>
        </tbody>
    </table>
}