@(spreads: List[MarketSpread])(implicit content: Html = Html(""))

@layout("Arbitrage", "arbitrage") {
    <table class="table table-hover">
        <thead>
            <tr>
                <td rowspan="3">Start</td>
                <td rowspan="3">End</td>
                <td colspan="6">Account 1</td>
                <td colspan="6">Account 2</td>
                <td rowspan="3">Spread</td>
            </tr>
            <tr>
                <td rowspan="2">Exchange</td>
                <td rowspan="2">Currency</td>
                <td colspan="2">Bid</td>
                <td colspan="2">Ask</td>
                <td rowspan="2">Exchange</td>
                <td rowspan="2">Currency</td>
                <td colspan="2">Bid</td>
                <td colspan="2">Ask</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Volume</td>
            </tr>
        </thead>
        @spreads.map { spread =>
            <tr >
                <td>@{spread.start.toString("yyyy-MM-dd HH:mm:ss")}</td>
                <td>@{spread.end match { case Some(date) => date.toString("yyyy-MM-dd HH:mm:ss"); case _ => "-"}}</td>
                <td>@spread.market1.exchange</td>
                <td>@{spread.market1.currencyPair.primary}/@{spread.market1.currencyPair.secondary}</td>
                <td>@{spread.market1.bid.get.price}</td>
                <td>@{spread.market1.bid.get.volume}</td>
                <td>@{spread.market1.ask.get.price}</td>
                <td>@spread.market1.ask.get.volume</td>
                <td>@spread.market2.exchange</td>
                <td>@{spread.market2.currencyPair.primary}/@{spread.market2.currencyPair.secondary}</td>
                <td>@spread.market2.bid.get.price</td>
                <td>@spread.market2.bid.get.volume</td>
                <td>@spread.market2.ask.get.price</td>
                <td>@spread.market2.ask.get.volume</td>
                <td>@spread.spread</td>
            </tr>
        }
    </table>
}