@(trades: scala.collection.immutable.Seq[Order])

@layout(title = "Trades", module = "trades") {
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Exchange</td>
                <td>Currency pair</td>
                <td>Created</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        @trades.map { trade =>
            <tr>
                <td>@trade.exchange</td>
                <td>@trade.pair</td>
                <td>@trade.created.toString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@trade.quantity</td>
                <td>@trade.price</td>
                <td>
                    <div class="btn-group">
                        <a href="@routes.TradesController.cancel(trade.id)" class="glyphicon glyphicon-off"></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<tbody>


